html,body {
    height: 100%;
    margin: 0;
}
.box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .box .row {
    border: 1px dotted #0313fc;
    touch-action: none;
  }
  .box .row.header {
    flex: 0 1 auto;
  }
  .box .row.content {
    flex: 1 1 auto;
  }
  .box .row.footer {
    flex: 0 1 40px;
  }
#drawing {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    touch-action: manipulation;
}